.form-container {
  width: 70%;
  margin: 4em auto 5em;
}

.form-container input,
.form-container select {
  display: block;
  width: 100%;
  margin: 2em auto;
  padding: 1.3em 2em;
  font-family: var(--regular-font);
}

.form-container select {
  appearance: none;
  background-image: url("../../images/selectArrow.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  color: #444;
  font-style: italic;
  cursor: pointer;
}

.form-container input::-webkit-input-placeholder {
  font-style: italic;
}

.form-container .handle-add-button {
  width: 50%;
  margin-left: 50%;
  background-color: var(--redberry-red);
  border: none;
  color: #fff;
  padding: 1em 2em;
  cursor: pointer;
  font-family: var(--regular-font);
}

.form-container p {
  margin: 1em 0 0.5em;
  font-size: 1rem;
}

.covid-form-container input[type="radio"] {
  width: auto;
  display: inline;
  vertical-align: middle;
  margin: 1em;
}

.form-container label {
  margin: 1em 0 0.5em;
  font-size: 1rem;
  display: inline;
}

.covid-form-container input[type="radio"] {
  margin: 0.5em;
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.9);
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  background-image: url("../../images/calendar.png");
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: aqua;
}
